.slideIcon {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.slideIcon:hover {
  color: #108ee9;
}

.page {
  height: 100%;
}

.title {
  height: 64px;
  line-height: 64px;
  font-weight: 700;
  font-size: 14px;
  background-color: #ececec;
  text-align: center;
}

.content {
  padding: 16px 24px;
}
